<div class="container">
  <table *ngFor="let post of posts" class="table table-bordered table-inverse">
    <tr>
      <th>{{post.title}}</th>
    </tr>
    <tr>
      <td><div [innerText]="post.description"></div></td>
    </tr>
    <tr>
      <td>{{post.date}}</td>
    </tr>
  </table>
</div>



<ng-template appAttachTo="header" *ngIf="auth.loggedIn">
  <h1 style="text-align: left">
    <a routerLink="/posts/new" class="list-group-item list-group-item-action bg-light" >New Post</a>
  </h1>
</ng-template>

<ng-template appAttachTo="footer">
  <h4>Footer Stuff Post</h4>
</ng-template>
